{%extends 'base.html' %}
{% load staticfiles %}
{%block content %}
<body>
    <style type="text/css"> 
        .form-container{
            margin-top:25px;
            background-size: cover;
            color: white;
            height:350px;
        }
        .container>h1{
            text-shadow: black 0.2em 0.2em 0.2em;
            color: rgb(253, 105, 7);
            
        }
        .container{
            
            background-color:rgb(26, 24, 24);
        }
    </style>
    <div class="out">
    <div class="form-container">
        <div class="container" style="height:100px; border-radius:4px">
            <br>
            <h1>글 작성페이지</h1>
            <br>
        </div>
        <br>
        
        <div class="container" style="height:510px; border-radius:4px; padding-top:20px; padding-left:20px;">
            <form action="{%url 'create'%}">
            <h3>제목:</h3><br>
            <input type="text" name="title"><br><br>
            <h3>내용:</h3><br>
            <textarea name="body" cols="50", rows="10"></textarea><br>
            <button class="btn btn-primary" style="margin-top:5px;" type="submit">제출</button>
            </form>
        </div>
    </div>
</div>
</body>




{%endblock%}